params {
    h =null
    help =null
    fqlist = "fq.lst"  
    // a txt file that recording the fastq file list. 
    //Each row either have two columns as samplename and R1.fastq.gz  
    // or have three columns as samplename,  R1.fastq.gz and R2.fastq.gz
    outdir = 'result'
    Trim_Mode = null
    // use this parameter to determine how to trim adaptors 1-4;
    species = "hsa"
    //select species. set hsa for human or mmu for mouse.n
    prefix = "sRNAseq"
    A = null //NEXTflex
}
profiles {
    local {
	process.executor = 'local'

	process {
	    withName: Trim_Galore_NEXTflex {
	    module = ['trimgalore/0.6.6', 'fastqc/0.11.8', 'python37']
	    memory = '8GB' 
	    }
	}
	process {
	    withName: Trim_Galore_Custom {
	    module = ['trimgalore/0.6.6', 'fastqc/0.11.8', 'python37']
	    memory = '8GB' 
	    }
	}
	process {
	    withName: Cat_SingleEndFastqGz_MultiLanes {
	    memory = '8GB' 
	    }
        }

	process {
	    withName: Collapse_FqToFa {
		module = ['perl/5.20.1']
	    memory = '8GB' 
	    }
	}

	process {
	    withName: Run_Animal {
	    module = ['perl/5.20.1','bowtie/1.2.2','R/4.3.2','samtools/1.9','bedtools/2.25.0']
	    memory = '8GB' 
	    }
	} 

	process { 
            withName: Join_Tables {
            module = 'R/4.3.2'
            memory = '8GB'
            }
        }

   }
    cluster {
        process.executor = 'lsf'
        executor.queueSize = 500
        process.queue =  'priority' //'standard'
        process.scratch=true
        process.clusterOptions = '-P sRNAtools'
        executor.jobName = { "$task.name - $task.hash" }
	process {
	    withName: Trim_Galore_NEXTflex {
	    module = ['trimgalore/0.6.6', 'fastqc/0.11.8', 'python37']
	    memory = '8GB' 
	    }
	}
	process {
	    withName: Trim_Galore_Custom {
	    module = ['trimgalore/0.6.6', 'fastqc/0.11.8', 'python37']
	    memory = '8GB' 
	    }
	}

	process {
	    withName: Cat_SingleEndFastqGz_MultiLanes {
	    memory = '8GB' 
	    }
        }

	process {
	    withName: Collapse_FqToFa {
		module = ['perl/5.20.1']
	    memory = '8GB' 
	    }
	}

	process {
	    withName: Run_Animal {
	    module = ['perl/5.20.1','bowtie/1.2.2','R/4.3.2','samtools/1.9','bedtools/2.25.0']
	    memory = '8GB' 
	    }
	} 

	process { 
            withName: Join_Tables {
            module = 'R/4.3.2'
            memory = '8GB'
            }
        }

   }
}
